# deps
node_modules/
.npmrc

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*

# misc
.DS_Store

# build
dist/
*.tsbuildinfo

# SQLite
labels.db
labels.db-shm
labels.db-wal


# Added by cargo

/target
