name: Release Node App

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      PATH_PREFIX: /var/www/

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Node.js のセットアップ
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: 依存関係のインストールとビルド
        run: |
          npm ci
          npm run build
          cp -r node_modules dist/.

      - name: env ファイルの作成
        run: |
          echo "LABELER_DID=\"${{ secrets.LABELER_DID }}\"" >> dist/.env
          echo "LABELER_PASSWORD=\"${{ secrets.LABELER_PASSWORD }}\"" >> dist/.env
          echo "SIGNING_KEY=\"${{ secrets.SIGNING_KEY }}\"" >> dist/.env
          echo "DB_PATH=/data/labels.db" >> dist/.env
          echo "PORT=3000" >> dist/.env

      - name: リリースディレクトリ名を時刻から作成
        id: timestamp
        run: echo "RELEASE_TIMESTAMP=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Deploy
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          DOMAIN: ${{ secrets.DOMAIN }}
          RELEASE_TIMESTAMP: ${{ env.RELEASE_TIMESTAMP }}
          SSH_PORT: ${{ secrets.VPS_SSH_PORT }}
        run: |
          # SSH キーの設定
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          # rsync でカスタムポートを指定してアップロード
          rsync -avz --delete --exclude '.git*' -e "ssh -p $SSH_PORT -o StrictHostKeyChecking=no" ./dist/ ubuntu@${{ secrets.VPS_IP }}:${{ env.PATH_PREFIX }}${{ env.DOMAIN }}/releases/${{ env.RELEASE_TIMESTAMP }}

      - name: シンボリックリンクの貼り替え
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          DOMAIN: ${{ secrets.DOMAIN }}
          RELEASE_TIMESTAMP: ${{ env.RELEASE_TIMESTAMP }}
          SSH_PORT: ${{ secrets.VPS_SSH_PORT }}
        run: |
          ssh -i ~/.ssh/id_rsa -p $SSH_PORT -o StrictHostKeyChecking=no ubuntu@${{ secrets.VPS_IP }} "ln -snf ${{ env.PATH_PREFIX }}${{ env.DOMAIN }}/releases/${{ env.RELEASE_TIMESTAMP }} ${{ env.PATH_PREFIX }}${{ env.DOMAIN }}/current"

      - name: Dockerコンテナの再起動
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_PORT: ${{ secrets.VPS_SSH_PORT }}
        run: |
          ssh -i ~/.ssh/id_rsa -p $SSH_PORT -o StrictHostKeyChecking=no ubuntu@${{ secrets.VPS_IP }} "docker restart random-labeler2_bsky_girigiribauer_com_app"

      - name: 古いリリースを削除 (最新5つを残す)
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          DOMAIN: ${{ secrets.DOMAIN }}
          SSH_PORT: ${{ secrets.VPS_SSH_PORT }}
        run: |
          ssh -i ~/.ssh/id_rsa -p $SSH_PORT -o StrictHostKeyChecking=no ubuntu@${{ secrets.VPS_IP }} "cd ${{ env.PATH_PREFIX }}${{ env.DOMAIN }}/releases && ls -t | tail -n +6 | xargs -r rm -rf"

      - name: 秘密鍵の削除
        if: always()
        run: rm -f ~/.ssh/id_rsa
